# Exploração dos micro-dados do censo escolar de 2016

Este notebook tem por objetivo realizar uma análise exploratório dos 
micro-dados do censo escolar de 2016.

In [1]:
# Importa a biblioteca pandas
import pandas as pd

In [48]:
# Realiza a leitura de um arquivo csv
df = pd.read_csv('/mnt/hdd_data/datasets/education/micro_censo_escolar_2016/DADOS/ESCOLAS.CSV', sep='|', encoding = "ISO-8859-1")

In [10]:
# Lista o dataset
df

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2016,41432827,SERGIO KRIGRIVAJA LUCAS ESC EST INDIGENA PROF ...,NaN,4,NaN,NaN,4,4103,41013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,41433823,SESI APUCARANA COL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,41438841,LAR SESANO CENTRO MUL DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4101,41001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,41441826,PROJETO CRES-SER,NaN,4,NaN,NaN,4,4110,41039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,41441834,LUZ DO SABER CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016,41442822,PROJETO CEIA,NaN,4,NaN,NaN,4,4110,41039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016,41447824,CENTRO EDUCACIONAL PARA SURDOS,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016,41453840,ANJO DA GUARDA CASA LAR,00003,4,NaN,NaN,4,4110,41037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016,41454820,ARCIBIDIO ALVES DE FARIA E R M EF,00002,4,NaN,NaN,4,4110,41037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016,41461827,SAO BENEDITO CENTRO DE PROMOCAO HUMANA GUARDA ...,00001,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2016,41464826,FAVO DE MEL CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016,41464834,GUARDA MIRIM DE IRATI,NaN,4,NaN,NaN,4,4109,41032,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016,41467825,GUARDA MIRIM DE DOIS VIZINHOS - EIPA,NaN,4,NaN,NaN,4,4107,41026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016,41468821,GUARDA MIRIM DE DOIS VIZINHOS - EIPA,NaN,4,NaN,NaN,4,4107,41026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016,41471822,ASSOCIACAO POLIESPORTIVA CULTURAL E EDUCACIONA...,00019,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2016,41426827,ASSOCIACAO BRASILEIRA DE EDUCACAO E CULTURA - ...,00019,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016,41475836,ANTONIA GUANDELINI FERRANTES CENTRO DE EDUCACA...,NaN,4,NaN,NaN,4,4103,41011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016,41476832,CRIANCA CRIATIVA CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4103,41011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016,41481828,SEMEAR CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4101,41001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016,41485823,AABB COMUNIDADE DE DOIS VIZINHOS PROGRAMA INTE...,NaN,4,NaN,NaN,4,4107,41026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016,41490843,ESPERANCA CENTRO PARA O RESGATE DA VIDA,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2016,41496841,TIA CLEU ESPACO DE INOVACAO EDUCACIONAL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2016,41497848,THYANA - ESCOLA DE TEATRO,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2016,41498844,ASSOCIACAO MARINGAENSE DE APOIO E REINTEGRACAO...,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2016,41499840,ONG VIDA E ARTE - ASSOCIACAO DAS DAMAS DE CARI...,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2016,41500849,CENTRO MUNICIPAL DE APRENDIZAGEM FEMININA,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2016,41501845,ESCOLA DO TRABALHO,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2016,41502841,PROGRAMA EDUCACIONAL RURAL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2016,41502850,PROGRAMA EDUCACIONAL RURAL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2016,41509854,APMI - ASSOCIACAO DE PROTECAO A MATERNIDADE E ...,00019,4,NaN,NaN,4,4103,41008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279328,2016,15051617,E M E F PROFª ZARAH DE SOUZA TRINDADE FERREIRA,00008,1,04/01/2016,30/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279329,2016,15051986,E M E F SEZESNANDO DO C FERREIRA,00008,1,11/02/2016,30/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279330,2016,15052095,E M E I NSRA AUXILIADORA,00014,1,15/02/2016,21/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279331,2016,15052931,E M E F DE PERERU DE FATIMA,00011,1,01/03/2016,30/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279332,2016,15052990,E M E F DEP NILSON CELIO SAMPAIO,00011,1,01/03/2016,30/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279333,2016,15053415,E M E F MONSENHOR EDMUNDO IGREJA,00011,1,01/03/2016,30/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279334,2016,15053784,EMEIF DIRCELIA KOURY PALMEIRA,00014,1,01/01/2016,01/01/2017,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279335,2016,15054225,E M E F LOURENCO M DA PAIXAO,00008,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279336,2016,15054250,E M E I F RAIMUNDA P DE SOUZA,00008,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279337,2016,15054357,EEEF BARAO DO GUAJARA,00011,1,30/03/2016,15/02/2017,1,1504,15009,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279338,2016,15054390,EEEF PROFA ESTER NUNES BIBAS,00011,1,30/03/2016,15/02/2017,1,1504,15009,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279339,2016,15054497,E M E I F PROF DORACI MONTEIRO NOGUEIRA,00011,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279340,2016,15054527,E M E F CABECEIRA DO PEREIRA,00011,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279341,2016,15054624,E M E F FRANCISCA DO ESPIRITO SANTO,00011,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279342,2016,15054675,E M E F NAIR GAIA ATAIDE,00011,1,15/02/2016,23/12/2016,1,1504,15009,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279343,2016,15155005,COLEGIO IMPACTO DE ICOARACI,01913,1,13/01/2016,21/12/2016,1,1503,15007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279344,2016,15155714,E M E I F SAO BENEDITO - JACARE GRANDE,00013,1,14/03/2016,23/12/2016,1,1502,15005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279345,2016,15155960,EMEF INDIGENA IPIXUNA,00010,1,01/01/2016,01/01/2017,1,1505,15015,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279346,2016,15156532,EMEF MANOEL FERREIRA DOS SANTOS,00013,1,07/03/2016,30/12/2016,1,1502,15005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279347,2016,15156583,CENTRO DE ATIVIDADES PEDAGOGICAS COMPLEMENTAR ...,00004,1,18/01/2016,19/12/2016,1,1506,15020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279348,2016,15156842,E M E I PROF BEATRIZ REIS RIBEIRO,00001,1,01/01/2016,01/01/2017,1,1504,15010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279349,2016,15157024,E M E F NOVA UNIAO,00018,1,15/02/2016,23/12/2016,1,1504,15013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279350,2016,15157032,E M E F VALE VERDE,00018,1,15/02/2016,23/12/2016,1,1504,15013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279351,2016,15157113,E M E F BOM JESUS,00018,1,15/02/2016,23/12/2016,1,1504,15013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279352,2016,15157415,CENTRO EDUCACIONAL VITORIA DE JESUS,01911,1,01/02/2016,23/12/2016,1,1503,15007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279353,2016,15157431,IFPA - CAMPUS BREVES,NaN,1,18/04/2016,03/03/2017,1,1502,15005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
279354,2016,15157610,CENTRO DE ATENDIMENTO EDUCACIONAL ESPECIALIZAD...,00013,1,15/02/2016,16/12/2016,1,1502,15005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279355,2016,15157776,CENTRO DE EDUCACAO PROFISSIONAL BRAGANCA,00001,1,04/01/2016,21/12/2016,1,1504,15010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
279356,2016,15157903,ESCOLA ADVENTISTA DE COQUEIRO,01916,1,18/01/2016,12/12/2016,1,1503,15007,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
279357,2016,15157997,E M E I F SAO PEDRO,00017,1,11/02/2016,30/12/2016,1,1504,15013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Lista as 5 primeiras linhas do dataset
df.head()

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2016,41432827,SERGIO KRIGRIVAJA LUCAS ESC EST INDIGENA PROF ...,NaN,4,NaN,NaN,4,4103,41013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,41433823,SESI APUCARANA COL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,41438841,LAR SESANO CENTRO MUL DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4101,41001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,41441826,PROJETO CRES-SER,NaN,4,NaN,NaN,4,4110,41039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,41441834,LUZ DO SABER CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Filtra dataset pelo indice
df.iloc[0:5, 0:4]

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL
0,2016,41432827,SERGIO KRIGRIVAJA LUCAS ESC EST INDIGENA PROF ...,NaN
1,2016,41433823,SESI APUCARANA COL,NaN
2,2016,41438841,LAR SESANO CENTRO MUL DE EDUCACAO INFANTIL,NaN
3,2016,41441826,PROJETO CRES-SER,NaN
4,2016,41441834,LUZ DO SABER CENTRO DE EDUCACAO INFANTIL,NaN

In [23]:
# Busca pelo nome das linhas / colunas
df.loc[0:3, ['NU_ANO_CENSO', 'CO_ENTIDADE']]

   NU_ANO_CENSO  CO_ENTIDADE
0          2016     41432827
1          2016     41433823
2          2016     41438841
3          2016     41441826

In [24]:
# Filtra colunas
df[['NU_ANO_CENSO', 'CO_ENTIDADE']]

        NU_ANO_CENSO  CO_ENTIDADE
0               2016     41432827
1               2016     41433823
2               2016     41438841
3               2016     41441826
4               2016     41441834
5               2016     41442822
6               2016     41447824
7               2016     41453840
8               2016     41454820
9               2016     41461827
10              2016     41464826
11              2016     41464834
12              2016     41467825
13              2016     41468821
14              2016     41471822
15              2016     41426827
16              2016     41475836
17              2016     41476832
18              2016     41481828
19              2016     41485823
20              2016     41490843
21              2016     41496841
22              2016     41497848
23              2016     41498844
24              2016     41499840
25              2016     41500849
26              2016     41501845
27              2016     41502841
28              2016     41502850
29              2016     41509854
...              ...          ...
279328          2016     15051617
279329          2016     15051986
279330          2016     15052095
279331          2016     15052931
279332          2016     15052990
279333          2016     15053415
279334          2016     15053784
279335          2016     15054225
279336          2016     15054250
279337          2016     15054357
279338          2016     15054390
279339          2016     15054497
279340          2016     15054527
279341          2016     15054624
279342          2016     15054675
279343          2016     15155005
279344          2016     15155714
279345          2016     15155960
279346          2016     15156532
279347          2016     15156583
279348          2016     15156842
279349          2016     15157024
279350          2016     15157032
279351          2016     15157113
279352          2016     15157415
279353          2016     15157431
279354          2016     15157610
279355          2016     15157776
279356          2016     15157903
279357          2016     15157997

[279358 rows x 2 columns]

In [29]:
# Filtra colunas
colunas = ['NU_ANO_CENSO', 'CO_ENTIDADE']
df_filtrado = df[colunas]

In [30]:
df_filtrado

        NU_ANO_CENSO  CO_ENTIDADE
0               2016     41432827
1               2016     41433823
2               2016     41438841
3               2016     41441826
4               2016     41441834
5               2016     41442822
6               2016     41447824
7               2016     41453840
8               2016     41454820
9               2016     41461827
10              2016     41464826
11              2016     41464834
12              2016     41467825
13              2016     41468821
14              2016     41471822
15              2016     41426827
16              2016     41475836
17              2016     41476832
18              2016     41481828
19              2016     41485823
20              2016     41490843
21              2016     41496841
22              2016     41497848
23              2016     41498844
24              2016     41499840
25              2016     41500849
26              2016     41501845
27              2016     41502841
28              2016     41502850
29              2016     41509854
...              ...          ...
279328          2016     15051617
279329          2016     15051986
279330          2016     15052095
279331          2016     15052931
279332          2016     15052990
279333          2016     15053415
279334          2016     15053784
279335          2016     15054225
279336          2016     15054250
279337          2016     15054357
279338          2016     15054390
279339          2016     15054497
279340          2016     15054527
279341          2016     15054624
279342          2016     15054675
279343          2016     15155005
279344          2016     15155714
279345          2016     15155960
279346          2016     15156532
279347          2016     15156583
279348          2016     15156842
279349          2016     15157024
279350          2016     15157032
279351          2016     15157113
279352          2016     15157415
279353          2016     15157431
279354          2016     15157610
279355          2016     15157776
279356          2016     15157903
279357          2016     15157997

[279358 rows x 2 columns]

In [46]:
# Deleta dataframe da memória
del(df)

In [35]:
df_filtrado

        NU_ANO_CENSO  CO_ENTIDADE
0               2016     41432827
1               2016     41433823
2               2016     41438841
3               2016     41441826
4               2016     41441834
5               2016     41442822
6               2016     41447824
7               2016     41453840
8               2016     41454820
9               2016     41461827
10              2016     41464826
11              2016     41464834
12              2016     41467825
13              2016     41468821
14              2016     41471822
15              2016     41426827
16              2016     41475836
17              2016     41476832
18              2016     41481828
19              2016     41485823
20              2016     41490843
21              2016     41496841
22              2016     41497848
23              2016     41498844
24              2016     41499840
25              2016     41500849
26              2016     41501845
27              2016     41502841
28              2016     41502850
29              2016     41509854
...              ...          ...
279328          2016     15051617
279329          2016     15051986
279330          2016     15052095
279331          2016     15052931
279332          2016     15052990
279333          2016     15053415
279334          2016     15053784
279335          2016     15054225
279336          2016     15054250
279337          2016     15054357
279338          2016     15054390
279339          2016     15054497
279340          2016     15054527
279341          2016     15054624
279342          2016     15054675
279343          2016     15155005
279344          2016     15155714
279345          2016     15155960
279346          2016     15156532
279347          2016     15156583
279348          2016     15156842
279349          2016     15157024
279350          2016     15157032
279351          2016     15157113
279352          2016     15157415
279353          2016     15157431
279354          2016     15157610
279355          2016     15157776
279356          2016     15157903
279357          2016     15157997

[279358 rows x 2 columns]

In [62]:
df.head()

,NU_ANO_CENSO,CO_ENTIDADE,NO_ENTIDADE,CO_ORGAO_REGIONAL,TP_SITUACAO_FUNCIONAMENTO,DT_ANO_LETIVO_INICIO,DT_ANO_LETIVO_TERMINO,CO_REGIAO,CO_MESORREGIAO,CO_MICRORREGIAO,...,IN_ESP_EXCLUSIVA_MEDIO_INTEGR,IN_ESP_EXCLUSIVA_MEDIO_NORMAL,IN_COMUM_EJA_FUND,IN_COMUM_EJA_MEDIO,IN_COMUM_EJA_PROF,IN_ESP_EXCLUSIVA_EJA_FUND,IN_ESP_EXCLUSIVA_EJA_MEDIO,IN_ESP_EXCLUSIVA_EJA_PROF,IN_COMUM_PROF,IN_ESP_EXCLUSIVA_PROF
0,2016,41432827,SERGIO KRIGRIVAJA LUCAS ESC EST INDIGENA PROF ...,NaN,4,NaN,NaN,4,4103,41013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,41433823,SESI APUCARANA COL,NaN,4,NaN,NaN,4,4103,41010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,41438841,LAR SESANO CENTRO MUL DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4101,41001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,41441826,PROJETO CRES-SER,NaN,4,NaN,NaN,4,4110,41039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,41441834,LUZ DO SABER CENTRO DE EDUCACAO INFANTIL,NaN,4,NaN,NaN,4,4103,41009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
def retornar_str(coluna):
    if len(coluna) < 20:
        return coluna.title()
    else:
        return coluna.lower()

In [91]:
df[['NO_ENTIDADE']].applymap(lambda x: retornar_str(x))

                                              NO_ENTIDADE
0       sergio krigrivaja lucas esc est indigena prof ...
1                                      Sesi Apucarana Col
2              lar sesano centro mul de educacao infantil
3                                        Projeto Cres-Ser
4                luz do saber centro de educacao infantil
5                                            Projeto Ceia
6                          centro educacional para surdos
7                                 anjo da guarda casa lar
8                       arcibidio alves de faria e r m ef
9       sao benedito centro de promocao humana guarda ...
10                favo de mel centro de educacao infantil
11                                  guarda mirim de irati
12                   guarda mirim de dois vizinhos - eipa
13                   guarda mirim de dois vizinhos - eipa
14      associacao poliesportiva cultural e educaciona...
15      associacao brasileira de educacao e cultura - ...
16      antonia guandelini ferrantes centro de educaca...
17           crianca criativa centro de educacao infantil
18                     semear centro de educacao infantil
19      aabb comunidade de dois vizinhos programa inte...
20                esperanca centro para o resgate da vida
21                tia cleu espaco de inovacao educacional
22                              thyana - escola de teatro
23      associacao maringaense de apoio e reintegracao...
24      ong vida e arte - associacao das damas de cari...
25              centro municipal de aprendizagem feminina
26                                     Escola Do Trabalho
27                             programa educacional rural
28                             programa educacional rural
29      apmi - associacao de protecao a maternidade e ...
...                                                   ...
279328     e m e f profª zarah de souza trindade ferreira
279329                   e m e f sezesnando do c ferreira
279330                           e m e i nsra auxiliadora
279331                        e m e f de pereru de fatima
279332                   e m e f dep nilson celio sampaio
279333                   e m e f monsenhor edmundo igreja
279334                      emeif dircelia koury palmeira
279335                       e m e f lourenco m da paixao
279336                      e m e i f raimunda p de souza
279337                              eeef barao do guajara
279338                       eeef profa ester nunes bibas
279339            e m e i f prof doraci monteiro nogueira
279340                       e m e f cabeceira do pereira
279341                e m e f francisca do espirito santo
279342                           e m e f nair gaia ataide
279343                        colegio impacto de icoaraci
279344             e m e i f sao benedito - jacare grande
279345                              emef indigena ipixuna
279346                    emef manoel ferreira dos santos
279347  centro de atividades pedagogicas complementar ...
279348                  e m e i prof beatriz reis ribeiro
279349                                 E M E F Nova Uniao
279350                                 E M E F Vale Verde
279351                                  E M E F Bom Jesus
279352                centro educacional vitoria de jesus
279353                               ifpa - campus breves
279354  centro de atendimento educacional especializad...
279355           centro de educacao profissional braganca
279356                      escola adventista de coqueiro
279357                                E M E I F Sao Pedro

[279358 rows x 1 columns]

In [93]:
def retorna_descricao_situacao(codigo):
    if codigo == 1:
        return 'Em Atividade'
    elif codigo == 2:
        return 'Paralisada'
    elif codigo == 3:
        return 'Extinta (ano do Censo)'
    elif codigo == 4:
        return 'Extinta em Anos Anteriores'
    else:
        return 'Não conhecido'

In [96]:
df['TP_SITUACAO_FUNCIONAMENTO_DESC'] = df[['TP_SITUACAO_FUNCIONAMENTO']].applymap(retorna_descricao_situacao)

In [97]:
df[['TP_SITUACAO_FUNCIONAMENTO_DESC']]

       TP_SITUACAO_FUNCIONAMENTO_DESC
0          Extinta em Anos Anteriores
1          Extinta em Anos Anteriores
2          Extinta em Anos Anteriores
3          Extinta em Anos Anteriores
4          Extinta em Anos Anteriores
5          Extinta em Anos Anteriores
6          Extinta em Anos Anteriores
7          Extinta em Anos Anteriores
8          Extinta em Anos Anteriores
9          Extinta em Anos Anteriores
10         Extinta em Anos Anteriores
11         Extinta em Anos Anteriores
12         Extinta em Anos Anteriores
13         Extinta em Anos Anteriores
14         Extinta em Anos Anteriores
15         Extinta em Anos Anteriores
16         Extinta em Anos Anteriores
17         Extinta em Anos Anteriores
18         Extinta em Anos Anteriores
19         Extinta em Anos Anteriores
20         Extinta em Anos Anteriores
21         Extinta em Anos Anteriores
22         Extinta em Anos Anteriores
23         Extinta em Anos Anteriores
24         Extinta em Anos Anteriores
25         Extinta em Anos Anteriores
26         Extinta em Anos Anteriores
27         Extinta em Anos Anteriores
28         Extinta em Anos Anteriores
29         Extinta em Anos Anteriores
...                               ...
279328                   Em Atividade
279329                   Em Atividade
279330                   Em Atividade
279331                   Em Atividade
279332                   Em Atividade
279333                   Em Atividade
279334                   Em Atividade
279335                   Em Atividade
279336                   Em Atividade
279337                   Em Atividade
279338                   Em Atividade
279339                   Em Atividade
279340                   Em Atividade
279341                   Em Atividade
279342                   Em Atividade
279343                   Em Atividade
279344                   Em Atividade
279345                   Em Atividade
279346                   Em Atividade
279347                   Em Atividade
279348                   Em Atividade
279349                   Em Atividade
279350                   Em Atividade
279351                   Em Atividade
279352                   Em Atividade
279353                   Em Atividade
279354                   Em Atividade
279355                   Em Atividade
279356                   Em Atividade
279357                   Em Atividade

[279358 rows x 1 columns]